openapi: 3.2.0
info:
  title: Reloadly Authentication API
  version: 1.0.0
  contact:
    name: Reloadly Support
    url: https://support.reloadly.com
  termsOfService: https://www.reloadly.com/terms
  description: 'Operations tagged Authentication across 2 of this provider''s published API definitions: reloadly-airtime-openapi.yml, reloadly-gift-cards-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://topups.reloadly.com
  description: Production Server
- url: https://topups-sandbox.reloadly.com
  description: Sandbox Server
- url: https://giftcards.reloadly.com
  description: Production Server
- url: https://giftcards-sandbox.reloadly.com
  description: Sandbox Server
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Obtain OAuth 2.0 access tokens for API authorization.
paths:
  /oauth/token:
    post:
      operationId: getAirtimeAccessToken
      summary: Get Access Token
      description: Exchange your client credentials for an OAuth 2.0 bearer access token for the Airtime API. Set audience to https://topups.reloadly.com.
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Access token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://topups.reloadly.com
      description: Production Server
    - url: https://topups-sandbox.reloadly.com
      description: Sandbox Server
components:
  schemas:
    TokenRequest:
      type: object
      required:
      - client_id
      - client_secret
      - grant_type
      - audience
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        grant_type:
          type: string
          enum:
          - client_credentials
        audience:
          type: string
          example: https://topups.reloadly.com
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        scope:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
    Error:
      type: object
      properties:
        timeStamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string
        errorCode:
          type: string
    TokenRequest_2:
      type: object
      required:
      - client_id
      - client_secret
      - grant_type
      - audience
      properties:
        client_id:
          type: string
          description: Your Reloadly API client ID
        client_secret:
          type: string
          description: Your Reloadly API client secret
        grant_type:
          type: string
          enum:
          - client_credentials
          description: OAuth 2.0 grant type
        audience:
          type: string
          description: The API audience URL for the service you are accessing (e.g., https://giftcards.reloadly.com)
          example: https://giftcards.reloadly.com
    TokenResponse_2:
      type: object
      properties:
        access_token:
          type: string
          description: The OAuth 2.0 bearer access token
        scope:
          type: string
          description: Granted OAuth scopes
        expires_in:
          type: integer
          description: Token expiration time in seconds
        token_type:
          type: string
          description: Token type (Bearer)
    Error_2:
      type: object
      properties:
        timeStamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string
        errorCode:
          type: string
        infoLink:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via the /oauth/token endpoint using client credentials grant.
x-refined-from:
- reloadly-airtime-openapi.yml
- reloadly-gift-cards-openapi.yml
