openapi: 3.2.0
info:
  title: Reloadly Balance API
  version: 1.0.0
  contact:
    name: Reloadly Support
    url: https://support.reloadly.com
  termsOfService: https://www.reloadly.com/terms
  description: 'Operations tagged Balance across 2 of this provider''s published API definitions: reloadly-airtime-openapi.yml, reloadly-gift-cards-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://topups.reloadly.com
  description: Production Server
- url: https://topups-sandbox.reloadly.com
  description: Sandbox Server
- url: https://giftcards.reloadly.com
  description: Production Server
- url: https://giftcards-sandbox.reloadly.com
  description: Sandbox Server
security:
- bearerAuth: []
tags:
- name: Balance
  description: Check your Reloadly account balance.
paths:
  /accounts/balance:
    get:
      operationId: getAirtimeBalance
      summary: Get Account Balance
      description: Retrieve the current balance of your Reloadly account for airtime top-ups.
      tags:
      - Balance
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://topups.reloadly.com
      description: Production Server
    - url: https://topups-sandbox.reloadly.com
      description: Sandbox Server
components:
  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        timeStamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string
        errorCode:
          type: string
    Balance:
      type: object
      properties:
        balance:
          type: number
          format: double
        currencyCode:
          type: string
        updatedAt:
          type: string
          format: date-time
    Error_2:
      type: object
      properties:
        timeStamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string
        errorCode:
          type: string
        infoLink:
          type: string
    Balance_2:
      type: object
      properties:
        balance:
          type: number
          format: double
          description: Available account balance
        currencyCode:
          type: string
          description: Currency code for the balance
        updatedAt:
          type: string
          format: date-time
          description: When the balance was last updated
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via the /oauth/token endpoint using client credentials grant.
x-refined-from:
- reloadly-airtime-openapi.yml
- reloadly-gift-cards-openapi.yml
